/*.sign-up {
  min-height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.sign-up {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.signup-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
}

.sign-up-flex {
  display: flex;
  justify-content: center;
  gap: 0;
}

.signup-box1,
.signup-box2 {
  height: 450px;
  width: 350px;
  border-radius: 12px;
}

.signup-box1 {
  background-color: #053331;
  padding: 30px;
  color: yellow;
}

.signup-text1 {
  text-align: left;
  font-size: 20px;
  margin-bottom: 40px;
}

.username {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.line-input {
  padding: 10px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
}

.signup-box2 {
  background-color: rgb(109, 77, 77);
}
*/