.footer {
  
  width: 100%;
  padding: 20px 0;
  background-color: #053331; 
  color: blanchedalmond;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /*box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2);*/
}

.footer p {
  margin: 0;
}

