.navbar {
    width: 100vw;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #053331;
    padding: 1.5% 1.5%;
    font-weight: bolder;
    color: blanchedalmond;
    border-bottom-left-radius: 20px;
    
    
}

.nav-logo { 
    font-size: 1.5rem;
    font-weight: bold;
    color: blanchedalmond;
}

.nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-link {
    color: bisque;
    text-decoration: none;
    font-weight: 600;
}
