.featured-jobs-section {
  padding: 80px 0;
  background-color: #fffaf5; /* Matches the light cream background in your image */
  display: flex;
  justify-content: center;
}

.featured-jobs-inner {
  width: 90%;
  max-width: 1200px;
}

.featured-header h2 {
  font-size: 2.5rem;
  color: #111;
  margin-bottom: 10px;
}

.featured-header p {
  color: #666;
  margin-bottom: 40px;
}
.job-offer-button{
    background-color: #053331;
    color: #ffffff;
    width: 160px;
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

