.how-title-wrapper {
  background-color: #ffffff;
  width: 100%;
  padding: 80px 20px ;
  display: flex;
  justify-content: center;
 
}

.how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.how-title {
  font-size: 36px;
  font-weight: 600;
  color: #053331;
  margin: 0;
  text-align: center;
  margin-bottom: 15px;
}

.how-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.how-card {
  width: 280px;
  padding: 30px 25px;
  background-color: #dedede;
  border-radius: 18px;
  text-align: center;
  transition: transform 0.3s ease;
}

.how-card:hover {
  transform: translateY(-10px);
}

.how-card h3 {
  margin-bottom: 10px;
  color: #053331;
}

.how-card p {
  font-size: 14px;
  color: #555;
}
